*,
*::before,
*::after {
    box-sizing:  border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}
img{
    width: 100%;
    display: block;
}    

h1,
h2,
h3,
p {
    margin: 0;
    font-family:  sans-serif;
}

.hero p{
    font-family: 'Cantarell', sans-serif;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;


    
}

.split > * {
        flex-basis: 30%;
        min-width: 15em;
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);

}


.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background-color: var(--clr-accent,#2193b0);
    color: rgb(252, 252, 252);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition:
     transform 250ms ease-in-out,
     opacity 250ms linear;
    font-family: 'Itim', cursive;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: 0.9;
}

.primary-title{
    font-size: 3.5rem;
    line-height: 1;
    text-transform:uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


.section-title {
    text-align: center;
    font-size: 4.5rem;
    line-height: 1;
    color: #CAD3C8;
    margin-bottom: 5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    
    

}


.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    /* background: #222;  */
    background-image:
    url(shoe-3.png),
    radial-gradient(#444,#111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.featured{
    background-color: #222;
    
    
}
.featured .featured__item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    text-align: center;
    line-height: 1;

    
}

.featured__item:hover, .featured__item:focus {
    transform: scale(1);
}

.featured__item:hover .featured__details,
.featured__item:focus .featured__details{
    opacity: 1;
    text-shadow: 0 0 2em rgba(#fff, 1);
}


.featured__item::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: #17353d;
    z-index: -1;
}

/* STYLE SHOES COLOR (P AND SPAN) ADD SHOES NAMES */

.featured__details{
    opacity: 0;
    transition: opacity 250ms linear;
    font-weight: 1000;
    color: #2193b0;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 
.featured__details span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.product{ 
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;
}

.our-products {
    background-color: #444;
}

.product__image {
    margin: -5em 0 0 0;

}

.product__title {
    color: #2C3A47;
    font-size: 4rem;
    line-height: 1;
    text-shadow: 0 0 .2em rgba(#000, .2);
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font: bold;
}

.hero {
        --clr-accent:#faa700;
}

.shoe-red{
    --clr-inner: #faa700;
    --clr-outer:#e48d00;
    --clr-accent: #a1173c;
}

.shoe-white{
    --clr-inner:#fce4b3;
    --clr-outer:#eac886;
    --clr-accent: #2f4858;
}

.shoe-blue{
    --clr-inner:#6dd5ed;
    --clr-outer:#2193b0;
    --clr-accent: #008951;
}

 @media (min-width: 45em) {

    .product{
        text-align: left;
        margin-bottom: 9em;
    }
    .product__image{
    float: left;
    width: 50%;
    shape-outside: url(shoe-1.png); 
 }
}

.product__description {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
}








